html {
    box-sizing: border-box;
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
    font-family: "Segoe UI", "SegoeUI", "Helvetica Neue", Arial, sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background: #fafafa;
    font-family: "Segoe UI", "SegoeUI", "Helvetica Neue", Arial, sans-serif;
}
